image here

- quais tipos de energia vem crescendo?
- tipos de energias que vem perdendo espaço
- energia limpas x energias poluentes
- a produção total de energia vem cresendo ou diminuindo?
- quais energias interferem diretamente na produção total?
-

# *Project About Energy Generation on USA*

In [2]:
import pandas as pd

In [3]:
path = 'C:/my_workspace/Github/Project_EnergyGeneration_USA/data/'
df = pd.read_csv(path + 'Net_generation_United_States_all_sectors_monthly.csv')

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 8 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Month                                              273 non-null    object
 1   all fuels (utility-scale) thousand megawatthours   273 non-null    float64
 2   coal thousand megawatthours                        273 non-null    float64
 3   natural gas thousand megawatthours                 273 non-null    float64
 4   nuclear thousand megawatthours                     273 non-null    float64
 5   conventional hydroelectric thousand megawatthours  273 non-null    float64
 6   wind thousand megawatthours                        273 non-null    float64
 7   all solar thousand megawatthours                   117 non-null    float64
dtypes: float64(7), object(1)
memory usage: 17.2+ KB

,Month,all fuels (utility-scale) thousand megawatthours,coal thousand megawatthours,natural gas thousand megawatthours,nuclear thousand megawatthours,conventional hydroelectric thousand megawatthours,wind thousand megawatthours,all solar thousand megawatthours
0,Sep-23,358136.2599,60005.67580,164466.3568,65559.710,16496.04043,28193.29153,22192.58066
1,Aug-23,423934.2574,78184.50094,199993.0422,69744.023,21145.86624,28504.16694,25350.26673
2,Jul-23,425611.3284,78909.85665,200506.7592,69887.588,21237.80849,27867.90946,26538.55725
3,Jun-23,356672.3849,57697.75156,161692.7028,64965.076,19470.63281,27505.93547,25034.48613
4,May-23,327532.6236,43852.22406,137795.2922,61472.883,27479.13413,32018.24592,24462.37510

In [5]:
df.shape

(273, 8)

In [6]:
df.describe()

,all fuels (utility-scale) thousand megawatthours,coal thousand megawatthours,natural gas thousand megawatthours,nuclear thousand megawatthours,conventional hydroelectric thousand megawatthours,wind thousand megawatthours,all solar thousand megawatthours
count,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,117.000000
mean,337947.552655,127251.140876,94470.528113,65870.679758,22411.638500,13404.842666,9311.091148
std,35061.580185,39820.581811,34945.840051,4810.864494,3970.188494,11655.653613,6193.340439
min,278078.871000,40078.668020,37966.927000,54547.338000,14367.418410,389.250000,1375.151550
25%,310602.963800,91145.411190,65631.018000,62638.950000,19470.632810,2442.129880,4142.592150
50%,329838.822400,135634.733300,91739.070090,65638.141000,22033.855740,11519.768420,8184.135870
75%,358630.102200,159439.517300,117351.492900,69870.978000,25079.216970,22100.722070,12437.957510
max,425611.328400,190134.816300,200506.759200,74649.040000,32607.115140,46167.094770,26538.557250

*Alterando nomes das colunas.*

In [10]:
df.rename(columns = {'all fuels (utility-scale) thousand megawatthours': 'all_fuels_kMWh',
                    'coal thousand megawatthours': 'coal_kMWh',
                    'natural gas thousand megawatthours': 'natural_gas_kMWh',
                    'nuclear thousand megawatthours': 'nuclear_kMWh',
                    'conventional hydroelectric thousand megawatthours': 'hydroelectric_kMWh',
                    'wind thousand megawatthours': 'wind_kMWh',
                    'all solar thousand megawatthours': 'solar_kMWh',
                    'Month': 'date'}, inplace = True)

df.columns

Index(['date', 'all_fuels_kMWh', 'coal_kMWh', 'natural_gas_kMWh',
       'nuclear_kMWh', 'hydroelectric_kMWh', 'wind_kMWh', 'solar_kMWh'],
      dtype='object')

In [11]:
df.tail()

,date,all_fuels_kMWh,coal_kMWh,natural_gas_kMWh,nuclear_kMWh,hydroelectric_kMWh,wind_kMWh,solar_kMWh
268,May-01,300491.621,151592.914,50934.205,61512.445,19175.635,635.029,NaN
269,Apr-01,278078.871,140670.654,45842.746,56003.026,18012.994,684.695,NaN
270,Mar-01,300706.544,155269.011,44364.414,62140.712,20477.189,532.120,NaN
271,Feb-01,282940.198,149735.484,37966.927,61272.407,17472.889,431.242,NaN
272,Jan-01,332493.160,177287.111,42388.663,68707.077,18852.048,389.250,NaN

*Temos valores nulos.*

In [12]:
df.isna().sum()

date                    0
all_fuels_kMWh          0
coal_kMWh               0
natural_gas_kMWh        0
nuclear_kMWh            0
hydroelectric_kMWh      0
wind_kMWh               0
solar_kMWh            156
dtype: int64

*Valores nulos apenas na coluna de energia solar.*

*Vamos olhar mais de perto.*

In [21]:
df.solar_kMWh.value_counts().sum() / df.shape[0]

0.42857142857142855

*Porcentagem muito relevante para remoção.*

*Vamos olhar os dados.*

In [18]:
df.solar_kMWh.unique()

filtered = df.loc[df['solar_kMWh'].isna()]

filtered.date.unique()

array(['Dec-13', 'Nov-13', 'Oct-13', 'Sep-13', 'Aug-13', 'Jul-13',
       'Jun-13', 'May-13', 'Apr-13', 'Mar-13', 'Feb-13', 'Jan-13',
       'Dec-12', 'Nov-12', 'Oct-12', 'Sep-12', 'Aug-12', 'Jul-12',
       'Jun-12', 'May-12', 'Apr-12', 'Mar-12', 'Feb-12', 'Jan-12',
       'Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07', 'May-07', 'Apr-07', 'Mar-07', 'Feb-07', 'Jan-07',
       'Dec-06', 'Nov-06', 'Oct-06', 'Sep-06', 'Aug-06', 'Jul-06',
       'Jun-06', 'May-06', 'Apr-06', 'Mar-06', 'Feb-06', 'Jan-06',
       'Dec-05', 'Nov-05', 'Oct-05', 'Sep-05', 'Aug-05', 'Jul-05',
       'Jun-05', 'May-05', 'Apr-05', 'Mar-05', 'Feb-05', 'Jan-05',
       'Dec-04', 'Nov-04', 'Oct-04', 'Sep-04', 'Aug-04', 'Jul-04',
       'Jun-04', 'May-04', 'Apr-04', 'Mar-04', 'Feb-04', 'Jan-04',
       'Dec-03', 'Nov-03', 'Oct-03', 'Sep-03', 'Aug-03', 'Jul-03',
       'Jun-03', 'May-03', 'Apr-03', 'Mar-03', 'Feb-03', 'Jan-03',
       'Dec-02', 'Nov-02', 'Oct-02', 'Sep-02', 'Aug-02', 'Jul-02',
       'Jun-02', 'May-02', 'Apr-02', 'Mar-02', 'Feb-02', 'Jan-02',
       'Dec-01', 'Nov-01', 'Oct-01', 'Sep-01', 'Aug-01', 'Jul-01',
       'Jun-01', 'May-01', 'Apr-01', 'Mar-01', 'Feb-01', 'Jan-01'],
      dtype=object)

*Ao que tudo indica, ou não há geração de energia solar a antes de 2014 ou não houve registro.*

*Substituiremos por 0.*

In [24]:
df.solar_kMWh.fillna(0, inplace=True)

df.isna().sum()

date                  0
all_fuels_kMWh        0
coal_kMWh             0
natural_gas_kMWh      0
nuclear_kMWh          0
hydroelectric_kMWh    0
wind_kMWh             0
solar_kMWh            0
dtype: int64

*Verificando duplicados.*

In [25]:
df.duplicated().sum()

0

*Não há duplicados.*

*Vamos olhar agora os formatos dos nossos dados.*